html, body {
  height: 100%;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: -webkit-radial-gradient(center, ellipse cover,#FFFFFF 0%,#FAFAFA 50%,#F5F5F5 60%,#BEBEBE 100%);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

#controls {
    color: #fff;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    background: rgb(159,12,16);
    z-index: 1000;
}
#controls div {
    display: inline-block;
}

.locate-control {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
}


.icon-location {
    background: url('../icons/locate.png') center center;
    background-size: 70% 70%;
}

.icon-location, .icon-location * {
    cursor: pointer;
}

.locate-control.loading {
    opacity: 0.5;
}
