html, body {
  height: 100%;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: -webkit-radial-gradient(center, ellipse cover,#FFFFFF 0%,#FAFAFA 50%,#F5F5F5 60%,#BEBEBE 100%);
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
}
#map {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50px;
    bottom: 0;
}
#map.full {
    width: 100%;
    left: 0;
}
#list {
    position: absolute;
    width: 50%;
    top: 50px;
    bottom: 0;
    left: 0;
    background: #fff;
    float: left;
    overflow: scroll;
    box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
#controls {
    position: relative;
    display: block;
    height: 50px;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    color: rgb(199,16,22);
    background: rgb(241,241,241);
    border-bottom: 1px solid rgb(168,168,168);
    broder-top: 1px solid rgba(199,16,22, 0.5);
    z-index: 1000;
    font-size: 1.2em;
}
#controls .wrapper {
    padding: 5px;
}
#controls select {
    font-size: 0.8em;
}
.locate-control {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.locate-control a {
    cursor: pointer;
}
.leaflet-touch .locate-control {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.locate-control.loading {
    cursor: progress;
    opacity: 0.5;
}
.icon-location {
    background: url('../icons/locate.png') center center;
    background-size: 50% 50%;
}
#list .wrapper {
    padding: 10px 10px;
}
#list .stops {
    padding: 0;
    list-style: none;
}
#list .stop {
    border-left: 3px solid rgb(199,16,22);
    border-bottom: 1px solid rgb(241,241,241);
    padding: 5px 15px;
}
#list .stop .desc, #list .stop .name {
    display: block;
    line-height: 1.5em;
}
#list .stop .desc {
    font-size: 0.8em;
}
#list .arrivals {
    list-style: none;
    padding: 0;
}
#list .arrival {
    background: rgb(203,233,171);
    border-radius: 5px;
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 5px;
}
#list .arrivals {
    display: block;
}
