html, body {
  height: 100%;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: -webkit-radial-gradient(center, ellipse cover,#FFFFFF 0%,#FAFAFA 50%,#F5F5F5 60%,#BEBEBE 100%);
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
}
#map-wrapper {
    position: absolute;
    margin-left: 400px;
    width: 100%;
    top: 40px;
    bottom: 0;
}
#map {
    position: relative;
    margin-right: 400px;
    height: 100%;
}
#list {
    position: absolute;
    width: 400px;
    top: 40px;
    bottom: 0;
    background: #fff;
    overflow: scroll;
    box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
#controls {
    position: relative;
    display: block;
    min-height: 40px;
    text-align: center;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    color: rgb(199,16,22);
    background: rgb(241,241,241);
    border-bottom: 1px solid rgb(168,168,168);
    broder-top: 1px solid rgba(199,16,22, 0.5);
    z-index: 110;
    font-size: 1em;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
#controls .wrapper {
    padding: 5px;
}
#controls select {
    font-size: 1em;
}
.status {
    padding: 4px 10px 2px;
    margin: 3px 10px;
    display: inline-block;
    border-radius: 15px;
    background-color: rgb(254,254,254);
    border: 1px solid rgb(220,220,220);
    text-align: center;
    cursor: pointer;
}
.status.error {
    background-color: rgb(199,16,22);
    color: #fff;
    border-color: rgb(142,4,14);
}
.status:hover {
    opacity: 0.7;
}
.status .close {
    background: rgba(156,156,156, 0.5);
    color: #fff;
    border: 1px solid rgb(237,237,237);
    height: 10px;
    width: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 11px;
    width: 15px;
    height: 15px;
    position: relative;
    top: -2px;
}
.status .close:hover {
    background-color: rgba(0,0,0, 0.4);
}
.locate-control {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.locate-control a {
    cursor: pointer;
}
.leaflet-touch .locate-control {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.locate-control.loading {
    cursor: progress;
    opacity: 0.5;
    color: rgb(241,241,241);
}
.icon-location {
    background: url('../icons/locate.png') center center;
    background-size: 50% 50%;
}
#list .wrapper {
    padding: 10px 10px;
}
#list .stops {
    padding: 0;
    list-style: none;
}
#list .stop {
    border-left: 3px solid rgb(199,16,22);
    border-bottom: 1px solid rgb(241,241,241);
    padding: 5px 15px;
}
#list .stop .desc, #list .stop .name {
    display: block;
    line-height: 1.5em;
}
#list .stop .desc {
    font-size: 0.8em;
}
.trips {
    list-style: none;
    display: block;
    padding: 0;
}
.trip {
    background: rgb(203,233,171);
    border-radius: 5px;
    border: 1px solid rgb(164,205,139);
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 5px;
}
.trip.old {
    background-color: rgb(209,209,209);
    border-color: rgb(122,122,122);
}
.leaflet-popup .trip {
    margin: 1px;
}

