@import url(http://fonts.googleapis.com/css?family=Roboto:500,400,300);

html, body {
  height: 100%;
}
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: -webkit-radial-gradient(center, ellipse cover,#FFFFFF 0%,#FAFAFA 50%,#F5F5F5 60%,#BEBEBE 100%);
  margin: 0;
  padding: 0;
}
button, body {
  font-family: Roboto, "Helvetica NeueRobot", Helvetica, Arial, sans-serif;

}
#map-wrapper {
    position: absolute;
    margin-left: 470px;
    width: 100%;
    top: 40px;
    bottom: 0;
}
#map {
    position: relative;
    margin-right: 470px;
    height: 100%;
}
#list {
    position: absolute;
    width: 470px;
    top: 40px;
    bottom: 0;
    background: #fff;
    overflow: scroll;
    box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgb(241,241,241);
    z-index: 100;
}
#controls {
    position: fixed;
    display: block;
    min-height: 40px;
    text-align: center;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    color: rgb(199,16,22);
    background: rgb(241,241,241);
    border-bottom: 1px solid rgb(168,168,168);
    border-top: 1px solid rgba(199,16,22, 0.5);
    z-index: 110;
    font-size: 1em;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
#controls .wrapper {
    padding: 5px;
}
#controls select {
    font-size: 1em;
}
.status {
    padding: 4px 10px 2px;
    margin: 3px 10px;
    display: inline-block;
    border-radius: 15px;
    background-color: rgb(254,254,254);
    border: 1px solid rgb(220,220,220);
    text-align: center;
    cursor: pointer;
}
.status.error {
    background-color: rgb(199,16,22);
    color: #fff;
    border-color: rgb(142,4,14);
}
.status:hover {
    opacity: 0.7;
}
.status .close {
    background: rgba(156,156,156, 0.5);
    color: #fff;
    border: 1px solid rgb(237,237,237);
    height: 10px;
    width: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 11px;
    width: 15px;
    height: 15px;
    position: relative;
    top: -2px;
}
.status .close:hover {
    background-color: rgba(0,0,0, 0.4);
}
.locate-control {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.locate-control a {
    cursor: pointer;
}
.leaflet-touch .locate-control {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.locate-control.loading {
    cursor: progress;
    opacity: 0.5;
    color: rgb(241,241,241);
}
.icon-location {
    background: url('../icons/locate.png') center center;
    background-size: 50% 50%;
}
#list .wrapper {
    padding: 10px 10px;
}
#list .stops {
    padding: 0;
    list-style: none;
}
#list .stop {
    border-left: 3px solid rgb(199,16,22);
    border-bottom: 1px solid rgb(241,241,241);
    padding: 5px 0 5px 10px;
}
#list .stop .desc, #list .stop .name {
    display: block;
    line-height: 1.5em;
}
#list .stop .name {
    font-weight: 500;
    color: rgb(71,55,57);
}
#list .stop .desc {
    font-weight: 400;
    font-size: 0.8em;
    color: rgb(123,123,123);
}
#list .stop button {
    color: #473739;
    background: #F7F7F7;
    border: none;
    border-radius: 1px;
    font-size: 0.9em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #D5D3D3;
    text-align: center;
}
#list .data {
    display: inline-block;;
    width: 300px;
}
#list .buttons {
    display: inline-block;
    width: 120px;
    text-align: right;
    vertical-align: top;
    margin-top: 5px;
}
.trips {
    list-style: none;
    display: block;
    padding: 0;
}
.trips h4 {
    font-weight: 400;
    margin: 0.8em 0;
    font-size: 1em;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 5px;
    color: #6E6E6E;
}
.trip {
    background: rgb(237,254,219);
    border: 1px solid rgb(177,231,121);
    color: rgb(97,110,82);
    border-radius: 5px;
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 0 5px 10px 0;
    font-size: 0.8em;
    font-weight: 500;
}
.trip.old {
    background-color: rgb(246,246,246);
    border-color: rgb(235,235,235);
    color: rgb(200,200,200);
    font-weight: 300;
}
.leaflet-popup .trip {
    margin: 1px;
}


/* iPhone 5 in portrait & landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
{
    #list {
        width: 100%;
        position: relative;
        top: 40px;
        bottom: auto;
    }
    #map, #map-wrapper {
        width: 100%;
        margin: 0;
    }
    #list .data, #list .buttons {
        display: block;
        width: auto;
    }
}
