<div class="info inner">
    <a class="github" href="https://github.com/luqmaan/Instabus">
        <img class="fork-me" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67">
    </a>
    <div class="info-text">
        <h2>Notice Any Issues?</h2>
        <a href="https://twitter.com/instabusatx"><button>Tweet us at @InstabusATX</button></a>

        <button data-bind="{click: reportProblem}">Email Us</button>

        <h2>Beta Features</h2>
        <div>
            <input name="showtransitime" type="checkbox" data-bind="{checked: showTransitime}" />
            <label for="showtransitime">Show Transitime predictions</label>
            <p style="padding-left: 20px; color: #888;">We're trying to generate our own predictions. Learn more about this feature at <a target="_blank" href="https://github.com/luqmaan/Instabus/issues/210">github.com/luqmaan/Instabus/issues/210</a>.</p>
        </div>

        <h2>Frequently Asked Questions</h2>

        <h4>What is Instabus?</h4>
        <div class="faq-answer">
            Instabus is a webapp that shows you where your bus is in realtime. Instabus works in Austin and uses <a href="http://www.capmetro.org/metrolabs/" target="_blank">data published by CapMetro</a>.
        </div>

        <h4>Is Instabus open source?</h4>
        <div class="faq-answer">
            Instabus is open source and licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">GNU GPL V3 License</a>. The source is available at <a href="https://github.com/luqmaan/Instabus">github.com/luqmaan/Instabus</a>.
        </div>
        
        <h4>Why is the vehicle location out of date?</h4>
        <div class="faq-answer">
			CapMetro posts updated location data every 90 seconds for buses and every 60 seconds for MetroRapid because of its higher average speed. <br />
            <br />
			Your ride could easily be (calculate 90 seconds of travel distance at average speed) further alog their route than marked.  Give yourself at least 90 extra seconds of walking time to your stop. CapMetro advises riders to arrive at their stop 5 to 10 minutes early. InstaBus.org lets you be a bit more timely.
        </div>
        
        <h4>Why isn't the vehicle location updated in real-time?</h4>
        <div class="faq-answer">
			CapMetro probably created this data stream to help support active signage at bus stops and on the vehicles.  Because those signs take 60 to 90 seconds to cycle through multi-part messages, that would be the best interval to conserve bandwidth. <br />
            <br />
            CapMetro may allocate more resources to give more frequent updates... if enough riders can show that shorter interval adds enough benefit. There has to be enough value to be worth spending more money from your fares and taxes.<br />
            <br />
            So, if those seconds make the difference between missing a ride and catching it, show InstaBus.org to your fellow riders and ask everyone to post constructive comments on <a href="http://www.capmetro.org/contact/">CapMetro's social media</a>.
        </div>
    </div>
</div>
