<ul class="routes-list" data-bind="foreach: routes">
    <li data-bind="click: toggleDirections, css: {expand: showDirections}">
        <div>
            <span class="id" data-bind="text: id"></span>
            <span class="name" data-bind="text: name"></span>
            <span class="chevron">
                <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <!-- Generator: Sketch 3.1.1 (8761) - http://www.bohemiancoding.com/sketch -->
                    <title>Slice 2</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <path d="M7.07544741,17 L5.2420497,15.1932909 L11.3325608,9.44317952 L5,3.84499453 L6.95442256,2 L15,9.51914273 L7.07544741,17 Z" id="Chevron" fill="#C7C7CC" sketch:type="MSShapeGroup" transform="translate(10.000000, 9.500000) rotate(90.000000) translate(-10.000000, -9.500000) "></path>
                    </g>
                </svg>
            </span>
        </div>

        <!-- <div class="name" data-bind="text: name"></div> -->
        <div class="directions" data-bind="foreach: directions, visible: showDirections">
            <button data-bind="click: $root.select.bind($root, $data, $parent), clickBubble: false">
                <span data-bind="text: headsign"></span>
                <span class="chevron">
                </span>
            </button>
        </div>
    </li>
</ul>
