<div class="inner">
    <div class="stop-name">
        <div class="direction"><span data-bind="text: stopDetails.direction"></span></div>
        <div class="name" data-bind="text: prettyName"></div>
    </div>

    <!-- ko if: stopDetails.errorMsg -->
        <div class="error">
            <span data-bind="text: stopDetails.errorMsg"></span>
        </div>
    <!-- /ko -->

    <div class="trips">
        <div class="progress large" data-bind="visible: stopDetails.loading">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>

        <!-- ko foreach: stopDetails.activeTripCollections -->
            <div class="tripCollection active" data-bind="">
                <h3 class="sign" data-bind="text: sign"></h3>
                <table>
                    <tr data-bind="foreach: trips">
                        <td class="trip" data-bind="css: {old: old}">
                            <div class="minutes" data-bind="text: prettyMinutes"></div>
                            <div class="exact" data-bind="text: prettyHour"></div>
                        </td>
                    </tr>
                </table>
            </div>
        <!-- /ko -->

        <!-- ko foreach: stopDetails.inactiveTripCollections -->
            <div class="tripCollection" data-bind="foreach: stopDetails.inactiveTripCollections">
                <h3 class="sign" data-bind="text: sign"></h3>
                <table>
                    <tr data-bind="foreach: trips">
                        <td class="trip" data-bind="css: {old: old}">
                            <div class="minutes" data-bind="text: prettyMinutes"></div>
                            <div class="exact" data-bind="text: prettyHour"></div>
                        </td>
                    </tr>
                </table>
            </div>
        <!-- /ko -->

    </div>
</div>
