<div class="trips inner">
    <div class="stop-name">
        <span class="name" data-bind="text: name"></span>
    </div>
    <ul class="trips">
        <div class="progress large" data-bind="visible: stopDetails.loading">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>

        <!-- ko foreach: stopDetails.activeTripCollections -->
            <h3><span data-bind="text: sign"></span></h3>
            <!-- ko foreach: trips -->
                <li class="trip" data-bind="css: {old: old}">
                    <span class="minutes" data-bind="text: prettyMinutes"></span>
                    <span class="exact" data-bind="text: prettyHour"></span>
                </li>
            <!-- /ko -->
        <!-- /ko -->

        <h3>All Trips</h3>
        <!-- ko foreach: stopDetails.tripCollections -->
            <h3><span data-bind="text: sign"></span></h3>
            <!-- ko foreach: trips -->
                <li class="trip" data-bind="css: {old: old}">
                    <span class="minutes" data-bind="text: prettyMinutes"></span>
                    <span class="exact" data-bind="text: prettyHour"></span>
                </li>
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: stopDetails.errorMsg -->
            <li class="error">
                <span data-bind="text: stopDetails.errorMsg"></span></li>
        <!-- /ko -->
    </ul>
</div>
