<div class="stop-name">
    <span class="name" data-bind="text: name"></span>
</div>
<ul class="trips">
    <div class="progress large" data-bind="visible: showProgress">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div>
    <!-- ko foreach: trips() -->
        <li class="trip" data-bind="css: {old: old}">
            <span class="minutes" data-bind="text: prettyMinutes"></span>
            <span class="exact" data-bind="text: prettyHour"></span>
            <!-- ko if: route() == "550" -->
                (<span class="minutes" data-bind="text: direction"></span>)
            <!-- /ko -->
        </li>
    <!-- /ko -->
    </div>
    <div>
        <div class="predictions-name" data-bind="if: transitimeTrips().length">Transitime</div>
    <!-- ko foreach: transitimeTrips() -->
        <li class="trip" data-bind="css: {old: old}">
            <span class="minutes" data-bind="text: prettyMinutes"></span>
            <span class="minutes" data-bind="text: prettySeconds"></span>
            <span class="exact" data-bind="text: prettyHour"></span>
            <!-- ko if: route() == "550" -->
                (<span class="minutes" data-bind="text: direction"></span>)
            <!-- /ko -->
        </li>
    <!-- /ko -->
    </div>
    <!-- ko if: errorMsg -->
        <li class="error"><span data-bind="text: errorMsg"></span></li>
    <!-- /ko -->
</ul>
