<div class="vehicle">
    <div class="id"><span data-bind="text: id"></span></div>
    <div>
        <span data-bind="text: route"></span>
        <span data-bind="text: direction"></span>
    </div>
    <div><span data-bind="text: speed"></span> mph</div>
    <div>Stopped? <span data-bind="text: stopped"></span></div>
    <div>Off Route? <span data-bind="text: offRoute"></span></div>
    <div>Reliable? <span data-bind="text: reliable"></span></div>
    <div>In Service? <span data-bind="text: updateTime"></span></div>
</div>
