* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    background: rgb(240,240,240);
    margin: 0;
    padding: 0;
}
button, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
 * Page
 */
.page {
    width: 100%;
}
.page .title a {
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: none;
}
.page .title {
    z-index: 1000;
    position: relative;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 0 0;
    background: rgb(207,30,30);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),0 4px 8px rgba(0, 0, 0, 0.28);
}
.page .title h1 {
    display: inline-block;
    font-weight: 300;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.page .title .actions {
    display: inline-block;
    position: relative;
    float: right;
    top: 15px;
    right: 10px;
    font-size: 1.2em;
}
.page .title .actions a {
    float: right;
}
.page .body {
    padding: 20px 10px;
    max-width: 800px;
    margin: 0 auto;
    color: rgb(80,78,78);
    font-size: 1.1em;
}
.page .body .inner {
    box-shadow: 0 2px 3px rgb(208,208,208);
    background: #fff;
    padding: 20px;
}
.page h3 {
    font-size: 1.1em;
    font-weight: 400;
    margin: 10px 0 10px 5px;
}
/*
 * Unicon
 */
.unicon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.unicon svg {
    padding-top: 4px;
    padding-left: 5px;
}
.unicon svg g {
    fill: rgba(255, 255, 255, 0.9);
}
.page .title a:hover .unicon svg g {
    fill: rgba(255, 255, 255, 1);
}
.page .title a:hover .unicon {
}
/*
 * NProgress
 */
#nprogress .bar {
    background: rgb(33,150,243);
}
#nprogress .peg {
    box-shadow: 0 0 10px rgb(33,150,243), 0 0 5px rgb(33,150,243);
}
#nprogress .spinner-icon {
  border-top-color: rgb(33,150,243);
  border-left-color: rgb(33,150,243);
}
