.panel {
    width: 210px;
    display: block;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),0 4px 8px rgba(0, 0, 0, 0.28);
    position: absolute;
    top: 20px;
    right: 20px;
    overflow-x: hidden;
}
.panel .inner {
    padding: 0;
}
.panel .error {
    color: rgb(200,35,38);
    background: rgb(255,234,235);
    padding: 10px 15px;
    margin: 0;
    font-size: 0.8em;
}
.panel button {
    border-radius: 12px;
    height: 24px;
    width: 24px;
    float: right;
    position: relative;;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    text-align: center;
    font-size: 12px;
    color: rgb(251,46,69);
    font-weight: 300;
}
.panel button:hover {
    background-color: rgb(255, 255, 255);
}

.progress {
    padding: 10px;
}

/*
 * Trips
 */
 .trips {
    max-height: 400px !important;
    overflow: scroll;
 }
 .stop-name {
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    background-color: rgb(251,46,69);
    margin: 0;
    padding: 10px 10px 10px 10px;
    font-weight: 300;
}
.stop-name .direction {
    font-size: 0.8em;
}
.tripCollection {
    padding: 0 0;
    border: 1px solid rgb(240,240,240);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}
.tripCollection.active {
}
.tripCollection ul {
    padding: 5px;
    margin: 0;
    list-style: none;
}
.tripCollection .sign {
    font-size: 0.8em;
    font-weight: normal;
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
    color: rgb(110,96,101);
}
.trip {
    color: rgb(25,60,53);
    text-align: center;
    padding: 5px;
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
    width: 40px;
    max-width: 40px;
    border: none;
}
.trip.old, .trip.old .exact {
    color: rgb(150,150,150);
    font-weight: 400;
}
/*.tripCollection.active .sign {
    background: rgb(255, 58, 80);
    color: #fff;
    font-weight: bold;
}
.tripCollection.active {
    background: rgb(255, 58, 80);
    width: 100%;
    align-self: left;
    display: block;
    border: none;
}
.tripCollection.active *, .tripCollection.active .trip * {
    color: #fff;
}
.tripCollection.active .trip.old * {
    color: rgba(255, 255, 255, 0.7);
}*/
