.panel {
    float: right;
    width: 20%;
    height: 100%;
    display: inline-block;
    background-color: rgb(250, 250, 250);
    position: relative;
    overflow: scroll;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.panel .inner {
    padding: 20px;
}
.panel .error {
    color: rgb(200,35,38);
    background: rgb(255,234,235);
    border-radius: 1px;
    padding: 10px 15px;
    margin: 5px 0;
    font-size: 0.8em;
}
