.panel {
    width: 205px;
    display: block;
    background: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),0 4px 8px rgba(0, 0, 0, 0.28);
    position: absolute;
    top: 20px;
    left: 20px;
    overflow-x: hidden;
    max-height: 90%;
    overflow: scroll;
    z-index: 1001;
}
.panel .inner {
    padding: 0;
}
.panel .error {
    color: rgb(200,35,38);
    background: rgb(255,234,235);
    padding: 10px 15px;
    margin: 0;
    font-size: 0.8em;
}
.panel button {
    border-radius: 12px;
    height: 24px;
    width: 24px;
    float: right;
    position: relative;;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    text-align: center;
    font-size: 12px;
    color: rgb(132,129,129);
    font-weight: 300;
}
.panel button:hover {
    background-color: rgb(255, 255, 255);
}

.progress {
    padding: 10px;
}

/*
 * Trips
 */
.stop-name {
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    background-color: rgb(132,129,129);
    margin: 0;
    padding: 10px 10px 10px 10px;
    font-weight: 300;
}
.stop-name .stop-meta {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0.5em;
}
.stop-name .direction {
    display: inline-block;;
    float: right;
}
.stop-name .stop-id {
    display: inline-block;;
}
.tripCollection {
    padding: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    background-color: rgb(250,250,250);
}
.tripCollection.active {
    background-color: rgb(255,255,255);
}
.tripCollection .sign {
    font-size: 0.8em;
    font-weight: normal;
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
    color: rgba(110,96,101, 0.7);
}
.tripCollection.active .sign {
    background-color: rgb(235,235,235);
    color: rgb(90,36,57);
}
.trip {
    text-align: center;
    padding: 5px;
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
    width: 50px;
    border: none;
    display: inline-block;
}
/* default */
.trip {
    color: rgba(63,152,133, 0.7);
}
.trip .exact {
    color: rgba(63,152,133, 0.5);
}
.trip.old {
    color: rgba(150,150,150, 0.8);
}
.trip.old .exact {
    color: rgba(150,150,150, 0.6);
}
/* active */
.active .trip {
    color: rgba(63,152,133, 1);
}
.active .trip .exact {
    color: rgba(63,152,133, 0.8);
}
.active .trip.old {
    color: rgba(150,150,150, 1);
}
.active .trip.old .exact {
    color: rgba(150,150,150, 0.8);
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .panel {
        height: 100%;
        max-height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    .panel .inner {
        margin-top: 100%;
    }
}
